.lmjFooter {
    background-color: rgb(23, 4, 81);
    color: white;
    text-align: center;
    padding: 45px;
    border-top: solid 2px rgb(229, 14, 14);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.lmjFooterElem {
    margin-bottom: 10px;
}