.lmjPlantlist{
    list-style-type :none;
    padding: 32px;
    display: flex;
    max-width: 800;
    background-color: rgb(23, 4, 81);
}

.lmjPlantitem{
    border: solid 2px rgb(229, 14, 14);
    border-radius: 10px;
    height: 150px;
    width: 200px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.lmjSales{
    position: absolute;
    right: 0;
    top: 10px;
    font-weight: 400;
    color: bisque;
    padding: 5px 10px;
    background-color:rgb(239, 143, 16);
}